* { box-sizing: border-box; }

#playground{
  border: thin solid;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 120px;
  left: 600px;


  }


#hat1{
  background-color: black;
  height: 115px;
  width: 260px;
  position: absolute;
  top: -90px;
  left: 20px;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;

}
#hat2{
  background-color: black;
  height: 30px;
  width: 310px;
  position: absolute;
  top: 10px;
  left: 0em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

}

.head{
  position: relative;
  background-color: #b56702;
  width: 300px;
  height: 400px;
  border-radius: 55em;
  top: 150px;
  left: 200px;

  }

.ear{
  border: thin solid;
  background-color: pink;
  width:  100px;
  height: 100px;
  z-index: -2;
}
#right-ear{
  position: absolute;
  left: -60px;
  top: 70px;
  border-top-left-radius: 15em;
  border-bottom-left-radius: 25em;
}
#left-ear{
  position: absolute;
  left: 260px;
  top: 70px;
  border-top-right-radius: 15em;
  border-bottom-right-radius: 25em;
}


.ceja{
  border: thin solid;
  background-color: black;
  width:  100px;
  height: 12px;
  border-top-right-radius: 50em;
  border-top-left-radius: 50em;
  border-bottom-left-radius: 50em;
  border-bottom-right-radius: 50em;
  z-index: 3;
}
#right-ceja{
  position: absolute;
  top: 65px;
  left: 40px;
}
#left-ceja{
  position: absolute;
  top: 65px;
  left: 158px
}

.eye {
  border: thin solid;
  background-color: white;
  width:  100px;
  height: 100px;
  border-radius: 50em;


}
#right-eye {
  position: absolute;
  left: 50px;
  top: 65px;
   }
#left-eye {
  position: absolute;
  left: 150px;
  top: 65px;
}
.pupil {
  background-color: black;
  border: thin solid;
  width: 50px;
  height: 50px;
  border-radius: 10em;
  position: relative;
  top: 0.5em;
  left: 0.3em;
}

#nose {
  border: thin solid;
  background-color: #ff6a0d;
  width: 60px;
  height: 117px;
  border-radius: 7em;
  position: relative;
  top: 150px;
  left: 117px;
  z-index: 3;

}
#moustache {
  border: thin solid;
  background-color: black;
  width: 160px;
  height: 80px;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  position: relative;
  top: 98px;
  left: 67px;

}

.boca {
  border: thin solid;
  background-color: white;
  width: 100px;
  height: 30px;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  position: relative;
  top: 100px;
  left: 100px;
}

.shoe {
    z-index: -1;
  }

#right-shoe {
  border: thin solid;
  background-color: #619eff;
  width: 190px;
  height: 100px;
  border-top-left-radius: 50em;
  border-top-right-radius: 5em;
  position: absolute;
  left: -50px;
  top: 380px;

}
#left-shoe {
  border: thin solid;
  background-color: #619eff;
  width: 190px;
  height: 100px;
  border-top-right-radius: 50em;
  border-top-left-radius: 5em;
  position: absolute;
  left: 160px;
  top: 380px;

}
